/practice-buddy/node_modules
/practice-buddy/public/hot
/practice-buddy/public/storage
/practice-buddy/storage/*.key
/practice-buddy/vendor
/practice-buddy/.env
/practice-buddy/.phpunit.result.cache
/practice-buddy/Homestead.json
/practice-buddy/Homestead.yaml
/practice-buddy/npm-debug.log
/practice-buddy/yarn-error.log
