body{
    background-color: #f2f2f2;
    width: 100%;
}
html{
    right:0px;
}

html, body, #app{
    width: 100%;
    margin: 0px;
}
.no-pieces-filler{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.custom-navbar{
    background: rgb(10,49,101);
    background: linear-gradient(90deg, rgba(10,49,101,1) 0%, rgba(24,129,207,1) 60%, rgba(22,137,211,1) 100%);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item {
    background-color: white;
}
